.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  display: none;
  width: 100%;

  @media (width >= 1440px) {
    display: block;
  }


  &.header-scrolled {
    .header-sub,
    .header-main__item--bottom {
      padding: 0;
      height: 0;
      min-height: 0;
    }

    .header-main__container {
      align-items: center;
    }

    .header-main__wrapper {
      gap: 0;
    }
  }

  &__inner {
    position: relative;
    background-color: var(--light-color);
  }
}

.header-sub {
  overflow: hidden;
  padding: 8px 0;
  min-height: 34px;
  color: var(--dark-color);
  background-color: #f4f4f4;
  transition: all 0.3s ease;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    align-items: center;

    &--left {
      gap: 12px;
    }
  }
}

.city,
.phone,
.working-hours {
  display: flex;
  align-items: center;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.city {
  gap: 4px;
}

.phone {
  gap: 8px;
}

.working-hours {
  gap: 12px;
}

.sub-nav {
  &__list {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__link {
    transition: all 0.2s ease-in-out;

    &:hover {
      color: var(--blue-color);
    }
  }
}

.header-main {
  padding: 16px 24px;

  &__container,
  &__item {
    display: flex;
    justify-content: space-between;

    &--bottom {
      overflow: hidden;
      transition: all 0.3s ease;
    }
  }

  &__container {
    align-items: flex-start;
    gap: 35px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: all 0.3s ease;
    gap: 16px;
  }

  &__item {
    align-items: center;
  }
}

// header-main__item--top
.catalog-btn {
  display: flex;
}

.search-form {
  position: relative;
  width: 100%;
  max-width: 654px;

  @media (width <= 1440px) {
    max-width: 100%;
  }

  &__input {
    border: 1px solid rgba(72, 136, 255, 0.2);
    border-radius: 8px;
    padding: 14px 100px 14px 24px;
    width: 100%;
    height: 48px;
    font-size: 16px;
    color: var(--dark-color);

    @media (width <= 1440px) {
      padding: 14px 50px 14px 16px;
      height: 46px;
    }

    &::placeholder {
      font-size: 16px;
      color: var(--dark-color);
      opacity: 0.5;
    }
  }

  &__btn {
    position: absolute;
    right: 4px;
    top: 50%;
    border-radius: 4px;
    padding: 11px 20px;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    background-color: var(--blue-color);
    translate: 0 -50%;

    @media (width <= 1440px) {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      padding: 0;
      width: 40px;
      height: 40px;
    }
  }
}

.social {
  &__list {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__item a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 48px;
    height: 48px;
    background-color: #f4f4f4;
    transition: all 0.2s ease-in-out;

    svg {
      path {
        transition: all 0.2s ease-in-out;
      }
    }

    &:hover {
      background-color: #d4d9dd;

      svg {
        path {
          fill: var(--blue-color);
        }
      }
    }

    @media (width <= 1440px) {
      width: 40px;
      height: 40px;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.locale {
  display: flex;
  align-items: center;
  gap: 6px;

  &__label {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__divider {
    font-size: 11px;

    @media (width <= 1440px) {
      font-size: 12px;
    }
  }

  &__btn {
    font-weight: 400;
    font-size: 16px;
    color: #343a3f;
    opacity: 0.4;

    @media (width <= 1440px) {
      font-size: 14px;
    }

    &.is-active {
      opacity: 1;
    }
  }


}

.user-menu {
  display: flex;
  align-items: center;
  gap: 16px;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    width: 48px;
    height: 48px;

    @media (width <= 1440px) {
      width: 40px;
      height: 40px;

      svg {
        width: 20px;
        height: 20px;
      }
    }

    svg {
      path {
        transition: all 0.2s ease-in-out;
      }
    }

    &:hover {
      svg {
        path {
          fill: var(--blue-color);
        }
      }
    }

    &--cart {
      position: relative;

      span {
        position: absolute;
        right: -13px;
        top: -13px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 26px;
        height: 26px;
        font-size: 13px;
        color: #fff;
        background-color: var(--blue-color);

        @media (width <= 1440px) {
          right: -5px;
          top: -10px;
          width: 20px;
          height: 20px;
          font-size: 12px;
        }
      }
    }
  }
}

// header-main__item--bottom
.main-nav {
  &__list,
  &__link {
    display: flex;
    align-items: center;

    &--events {
      position: relative;
      border: none;
      cursor: pointer;

      .main-nav__dropdown {
        position: fixed;
        right: 709px;
        top: 172px;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        padding: 24px 71px 24px 24px;
        min-width: fit-content;
        box-shadow: 0 0 10px 0 rgba(157, 157, 157, 0.35);
        background: #fff;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        transition: all 0.3s ease;
        gap: 16px;
      }

      .main-nav__dropdown-item {
        text-align: left;
        color: var(--dark-color);
        transition: all 0.2s ease-in-out;

        &:hover {
          color: var(--blue-color);
        }
      }

      &.is-open {
        .main-nav__dropdown {
          opacity: 1;
          visibility: visible;
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0);
        }
      }
    }
  }

  &__list {
    gap: 18.50px;
  }

  &__link {
    border-radius: 8px;
    padding: 11px 16px;
    font-size: 16px;
    color: #343a3f;
    background-color: #f4f4f4;
    transition: all 0.2s ease-in-out;
    gap: 10px;

    svg {
      path {
        fill: rgba(72, 136, 255, 0.5);
        transition: all 0.2s ease-in-out;
      }
    }

    &:hover {
      color: var(--blue-color);

      svg {
        path {
          fill: var(--blue-color);
        }
      }
    }
  }

  &__icon {
    display: flex;
  }
}

.create-pc {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 10px 6px;
  font-size: 16px;
  color: var(--blue-color);
  background-color: #f4f4f4;
  transition: all 0.2s ease-in-out;
  gap: 7px;

  svg {
    path {
      transition: all 0.2s ease-in-out;
    }
  }

  &:hover {
    color: #fff;
    background-color: var(--blue-color);

    svg {
      path {
        stroke: #fff;
      }
    }
  }

  @media (width <= 1440px) {
    margin-top: 24px;
  }
}

// .catalog-dropdown
.catalog-dropdown {
  position: fixed;
  display: flex;
  border-radius: 8px;
  padding: 28px 95px 56px 0;
  min-width: 892px;
  box-shadow: 0 0 10px 0 rgba(157, 157, 157, 0.35);
  background-color: var(--light-color);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  gap: 40px;

  &.is-open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.drop-cat-nav {
  &__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 20px 13px 30px;
    width: 100%;
    min-width: 338px;

    &.is-open {
      background-color: #f3f3f3;
    }
  }

  &__btn-lside {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 16px;

    svg {
      display: flex;
    }
  }
}

.catalog-dropdown-columns {
  display: flex;
  gap: 40px;

  &__col-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__col-title {
    margin: 0 0 31px;
    font-weight: 400;
    font-size: 30px;
    color: var(--dark-color);
  }

  &__col-btn {
    position: relative;
    min-width: 175px;
    font-size: 16px;
    text-align: left;
    color: var(--dark-color);
    transition: all 0.2s ease-in-out;

    &:hover {
      color: var(--blue-color);

      .arrow {
        display: block;
      }
    }

    span {
      font-size: 14px;
      color: rgba(52, 58, 63, 0.5);
    }

    .arrow {
      position: absolute;
      right: -24px;
      top: -3px;
      display: none;
    }

    &.is-open {
      color: var(--blue-color);

      .arrow {
        display: block;

        path {
          stroke: var(--blue-color);
        }
      }
    }
  }
}
