.hero {
  padding: 84px 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (width <= 1440px) {
    background-position: right bottom;
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 26px;
  }

  &__title {
    max-width: 729px;
    font-size: 32px;
    line-height: 112%;
    color: #fff;
  }

  &__text {
    max-width: 639px;

    p {
      margin: 0;
      font-family: inherit;
      font-weight: 400;
      font-size: 18px;
      line-height: 133%;
      color: #fff;
    }
  }

  &__btn {
    display: inline-block;
    border-radius: 8px;
    padding: 16px 40px;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    color: #672870;
    background-color: var(--light-color);
  }
}

@media (width <= 360px) {
  .hero {
    padding: 32px 0 222px;
    background-image: url('../img/hero_banner-mob.jpg') !important; /* stylelint-disable-line declaration-no-important */
  }

  .hero__title {
    margin-bottom: 14px;
    font-size: 24px;
    line-height: 108%;
  }

  .hero__text {
    display: -webkit-box;
    overflow: hidden;
    margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;

    p {
      font-size: 14px;
      line-height: 136%;
    }
  }

  .hero__content {
    gap: 0;
  }
}
