<section class="hero" style="background-image: url('img/hero_banner.jpg');">
  <div class="hero__container container">
    <div class="hero__content">
      <h1 class="hero__title tenor-sans-regular">
        Отправляйся в приключения с нашими эпическими лут-корзинами и наборами!
      </h1>

      <div class="hero__text tenor-sans-regular">
        <p>
          Развивай свои навыки, следуя мудрым стратегиям мастеров, и поднимайся на новый уровень мастерства! С нашей
          поддержкой каждое твое действие станет частью великого искусства, а победы — результатом точного плана и
          безупречной подготовки!
        </p>
      </div>

      <div class="btns">
        <a class="hero__btn" href="#">
          В каталог
        </a>
      </div>
    </div>
  </div>
</section>
