// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "maza", sans-serif;
  --content-width: 1330px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --header-height: 0px;

  // colors
  --light-color: #fff;
  --blue-color: #4888ff;
  --dark-color: #343a3f;
}

.tenor-sans-regular {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
